.container {
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    border-radius: 2%;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(90%) sepia(50%) hue-rotate(90deg) brightness(0.8) saturate(1.2);
    z-index: -1;
}

h1,
h2,
h3 {
    text-align: center;
    color: green;
}

button {
    padding: 10px;
    background-color: lightcoral;
    color: white;
    border: red;
    border-radius: 30%;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

button:hover {
    background-color: gray;
}

fieldset {
    border-radius: 2%;
}

div {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

input {
    margin: 5px;
}